body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}

.form-control, .btn {
    border-radius: 5px;
}

.btn-primary, .btn-success {
    width: 100%;
}

.btn-primary {
    margin-bottom: 20px;
}

.btn-remove {
    margin-top: 10px;
    width: 100%;
}
